{% extends 'base.html.twig' %}

{% block title %}Irena{% endblock %}

{% block body %}

    <script>
        window.user = {{ userData|raw }}
    </script>

    <div class="container-main">
        <div class="row">

            <div class="col-12 example-wrapper example-wrapper-top">
                <h1 class="text-center">Szczegóły państwa {{ countryData.name }} <span class="fi fi-{{ countryData.flagSymbol | lower }}"></span></h1>
                <div class="country-description">
                    <p>{{ countryData.description }}</p>
                </div>
                <div class="country-language">
                    <p> Języki urzędowe tego kraju to:
                    {%  for index, language  in countryData.language %}
                        {% if index != 0 %},
                        {% endif %}
                        {{ language.name }}
                    {% endfor %}.
                    </p>
                </div>
                <div>
                    <h4>Lista użytkowników którzy odwiedzili ten kraj</h4>
                    <ul >
                        {% for user in countryData.usersVisited %}
                            <li></a>{{ user.username }} <a href="{{ path('app_user_profile', {username: user.username}) }}"><i class="fa-regular fa-user"></i> Zobacz profil</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_end %}
{% endblock %}

