
<table class="table">
    <thead>
    <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Liczba odwiedzających</th>
        <th scope="col">Akcje</th>
    </tr>
    </thead>
    <tbody>
    {%  for country in data %}
        <tr>

            <td><span class="fi fi-{{ country.flagSymbol | lower }}"></span> {{ country.name }}</td>
            <td>{{ country.userAppVisitedCountries | length }}</td>
            <td>
                <a href="#" class="{{ (country.userAppVisitedCountries|filter( visited => visited.userApp == userCurrent )) ? '':'d-none' }} js-set-visited js-remove-visited" data-action="remove" data-country-id="{{ country.id }}"><i class="fa-solid fa-toilet"></i> Usuń z odwiedzonych</a>
                <a href="#" class="{{ (country.userAppVisitedCountries|filter( visited => visited.userApp == userCurrent )) ? 'd-none' : '' }} js-set-visited js-add-visited" data-action="add" data-country-id="{{ country.id }}"><i class="fa-solid fa-jet-fighter"></i> Dodaj do odwiedzonych</a>

                <a href="{{ path('app_country_info', {countryId : country.id}) }}"><i class="fa-solid fa-eye"></i> Zobacz szczegóły</a>
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>
{#{{ country.userAppVisitedCountries }}#}

