
<table class="table">
    <thead>
    <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Liczba odwiedzających</th>
        <th scope="col">Akcje</th>
    </tr>
    </thead>
    <tbody>
    {%  for country in data %}
        <tr data-api-target="countryItem">
            <td><span  class="fi fi-{{ country.flagSymbol | lower }}"></span> {{ country.name }}</td>
            <td class="js-count-user-visited" data-api-target="countUsers">{{ country.usersVisited | length }}</td>
            <td>
                <a href="#" class="{{ userCurrent in country.usersVisited ? 'd-none' : '' }} js-set-visited js-add-visited" data-action="click->api#setEvent" data-act="add" data-country-id="{{ country.id }}"><i class="fa-solid fa-jet-fighter"></i> Dodaj do odwiedzonych</a>
                <a href="#" class="{{ userCurrent not in country.usersVisited ? 'd-none' : '' }} js-set-visited js-remove-visited" data-action="click->api#setEvent" data-act="remove" data-country-id="{{ country.id }}"><i class="fa-solid fa-toilet"></i> Usuń z odwiedzonych</a>
                <a href="{{ path('app_country_info', {country : country.id}) }}"><i class="fa-solid fa-eye"></i> Zobacz szczegóły</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>